@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

button {
    cursor: pointer;
}

.text-shadow {
    text-shadow: 0 1 rgba(0, 0, 0, 0.25);
}

.text-outline {
    text-shadow:
        2px 2px 0 rgba(255, 255, 255, 0.3),
        -2px -2px 0 rgba(255, 255, 255, 0.3),
        2px -2px 0 rgba(255, 255, 255, 0.3),
        -2px 2px 0 rgba(255, 255, 255, 0.3);
}
